In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

sns.set()

___

## adress

In [2]:
df_adress = pd.read_csv('./dataset/tb_addresses.csv', sep = ';')

In [3]:
df_adress.head()

,id_endereco,id_fornecedor,bairro,ponto_referencia,cidade,estado,uf,pais,tipo,cep
0,6158e903c044d80022ae40b9,NaN,Conjunto Adalberto Sena,NaN,Rio Branco,Acre,AC,Brasil,HISTORY,69900001.0
1,615b312b53c10b002275d928,NaN,Nova Estacao,NaN,Rio Branco,Acre,AC,Brasil,HISTORY,69900001.0
2,60c2de7e52f4f30021f53891,NaN,Terminal Cadeia Velha,NaN,Rio Branco,Acre,AC,Brasil,HISTORY,69900001.0
3,60e4f879a3d5dd0021ac84bf,NaN,Vitoria,Greengard,Rio Branco,Acre,AC,Brasil,HISTORY,69900001.0
4,60f5f30476d90d00217f60a3,NaN,Primavera,NaN,Arapiraca,Alagoas,AL,Brasil,HISTORY,57300001.0

In [4]:
df_adress.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87217 entries, 0 to 87216
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_endereco       87217 non-null  object
 1   id_fornecedor     409 non-null    object
 2   bairro            83455 non-null  object
 3   ponto_referencia  20336 non-null  object
 4   cidade            87217 non-null  object
 5   estado            87217 non-null  object
 6   uf                87217 non-null  object
 7   pais              87217 non-null  object
 8   tipo              87217 non-null  object
 9   cep               84178 non-null  float64
dtypes: float64(1), object(9)
memory usage: 6.7+ MB

    - Dropar colunas: 
        id_fornecedor, ponto_referencia
    
    - Dropar linhas: 
        bairro, cep
    
    * Motivo: 
        As colunas dropadas "podem ser" irrelevantes, verifiquei tambem se era possivel completar os cep, porem dentro de uma cidade possui varios cep diferentes, então decidi dropar os NaN(dropna), assim como na coluna dos bairros.
            
    - Perca de 7.09% dos dados

In [5]:
df_adress.drop(['id_fornecedor', 'ponto_referencia'], axis=1, inplace=True)
df_adress.dropna(inplace = True)

In [6]:
df_adress.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81033 entries, 0 to 84177
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_endereco  81033 non-null  object
 1   bairro       81033 non-null  object
 2   cidade       81033 non-null  object
 3   estado       81033 non-null  object
 4   uf           81033 non-null  object
 5   pais         81033 non-null  object
 6   tipo         81033 non-null  object
 7   cep          81033 non-null  float64
dtypes: float64(1), object(7)
memory usage: 5.6+ MB

In [7]:
#df_adress.to_csv('tb_addresses_treatment.csv', index=False)

___

## banners

In [8]:
df_banners = pd.read_csv('./dataset/tb_banners.csv', sep = ';')

In [9]:
df_banners.head(2)

,id_banner,titulo_banner,imagem_banner,imagem_celular,esta_ativo,nome,url_banner
0,604bae5b3fa7940021e8c725,Bolos Recheados com Desconto,https://vemdebolo-imagens.s3.sa-east-1.amazona...,https://vemdebolo-imagens.s3.sa-east-1.amazona...,True,Bolos Recheados,/bolos-recheados
1,604baf213fa7940021e8c87e,"Doces até R$9,99",https://vemdebolo-imagens.s3.sa-east-1.amazona...,https://vemdebolo-imagens.s3.sa-east-1.amazona...,True,"Doces até R$9,99",/bolos-e-doces?preco-max=9.99

In [130]:
df_banners.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_banner       10 non-null     object
 1   titulo_banner   10 non-null     object
 2   imagem_banner   10 non-null     object
 3   imagem_celular  10 non-null     object
 4   esta_ativo      10 non-null     bool
 5   nome            10 non-null     object
 6   url_banner      10 non-null     object
dtypes: bool(1), object(6)
memory usage: 618.0+ bytes

    * Não necessario fazer um tratamento de dados "Missing"

___

## users

In [10]:
df_users = pd.read_csv('./dataset/tb_users.csv', sep = ';')

In [11]:
df_users.head()

,id_usuario,id_fornecedor,nome_completo,data_ultima_compra,qtde_total_compra,gasto_total,ultima_qtde_compra,ticket_medio,aceita_thrid_party_mkt,aceita_mkt
0,5faafcaf19bbc50021fe3f07,NaN,Rldxsyddr Phsdyyskhv,2021-07-29 21:44:15,6.0,408.92,78.4,68.15,False,False
1,5fab1e6219bbc50021fec9b0,5fab1fd219bbc50021fecfbe,Swmhyd Rdgwys dd Frdwtss,NaN,0.0,0.00,0.0,0.00,False,False
2,5fab2c8519bbc50021feee65,5fab2cd619bbc50021feef1b,Fdrysydh Msrtwys,NaN,0.0,0.00,0.0,0.00,False,False
3,5fab65294d36ff0021e3052a,NaN,Rdrwsys rhdrwguds slvds,NaN,0.0,0.00,0.0,0.00,False,False
4,5fab9bf04d36ff0021e32b96,NaN,Rhbshy Guwlhdrmd Ds Swlvs,NaN,0.0,0.00,0.0,0.00,True,True

In [12]:
df_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7023 entries, 0 to 7022
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id_usuario              7023 non-null   object
 1   id_fornecedor           403 non-null    object
 2   nome_completo           6621 non-null   object
 3   data_ultima_compra      2749 non-null   object
 4   qtde_total_compra       7005 non-null   float64
 5   gasto_total             7005 non-null   float64
 6   ultima_qtde_compra      7005 non-null   float64
 7   ticket_medio            7005 non-null   float64
 8   aceita_thrid_party_mkt  7007 non-null   object
 9   aceita_mkt              7007 non-null   object
dtypes: float64(4), object(6)
memory usage: 548.8+ KB

    - Dropar colunas: 
        id_fornecedor, data_ultima_compra
    
    - Dropar linhas: 
        nome_completo, aceita_mkt
    
    - Preencher NaN com Media: 
        qtde_total_compra, gasto_total, ultima_qtde_compra, ticket_medio
    
    * Motivo: 
        Muitos dados faltantes na coluna do "id_fornecedor", no caso da coluna de "data_ultima_compra", além de não possuir 39% dos dados, quando verifiquei, muitos desses NaN tinha um total de 0 nas colunas de "qtde_total_compra", "gasto_total", "ultima_qtde_compra", então conclui que não daria para colocar algum dados estatistico, já que ele não teria realizado nenhuma compra
    
    - Perca de 5.95% dos dados

In [13]:
df_users.drop(['id_fornecedor', 'data_ultima_compra'], axis=1, inplace=True)
df_users['qtde_total_compra'].fillna(1, inplace=True)
df_users['gasto_total'].fillna(df_users['gasto_total'].mean() , inplace=True)
df_users['ultima_qtde_compra'].fillna(df_users['ultima_qtde_compra'].mean() , inplace=True)
df_users['ticket_medio'].fillna(df_users['ticket_medio'].mean() , inplace=True)
df_users.dropna(subset=['nome_completo','aceita_mkt'], inplace=True)

In [14]:
df_users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6605 entries, 0 to 7022
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id_usuario              6605 non-null   object
 1   nome_completo           6605 non-null   object
 2   qtde_total_compra       6605 non-null   float64
 3   gasto_total             6605 non-null   float64
 4   ultima_qtde_compra      6605 non-null   float64
 5   ticket_medio            6605 non-null   float64
 6   aceita_thrid_party_mkt  6605 non-null   object
 7   aceita_mkt              6605 non-null   object
dtypes: float64(4), object(4)
memory usage: 464.4+ KB

In [15]:
#df_users.to_csv('tb_users_treatment.csv', index=False)

___

## cities

In [16]:
df_cities = pd.read_csv('./dataset/tb_cities.csv', sep = ';')

In [17]:
df_cities.head()

,id_cidade,esta_disponivel,cidade,estado,uf,pais
0,5f517b48c13e960021459f0c,False,Campinas,São Paulo,SP,Brasil
1,5f6a179af309620021ca264d,True,São Paulo,São Paulo,SP,Brasil
2,5f760d9d6ab32d0021e8b67c,False,Bento Gonçalves,Rio Grande do Sul,RS,Brasil
3,5f7dc164f266b40021daebf2,False,Ribeirão Preto,São Paulo,SP,Brasil
4,5f8788604c809d002148ab24,False,Osasco,São Paulo,SP,Brasil

In [18]:
df_cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_cidade        333 non-null    object
 1   esta_disponivel  333 non-null    bool
 2   cidade           333 non-null    object
 3   estado           333 non-null    object
 4   uf               333 non-null    object
 5   pais             333 non-null    object
dtypes: bool(1), object(5)
memory usage: 13.5+ KB

    * Não necessario fazer um tratamento de dados "Missing"

___

## vendors

In [19]:
df_vendors = pd.read_csv('./dataset/tb_vendors.csv', sep = ';')

In [20]:
df_vendors.head()

,id_fornecedor,nome_fornecedor,data_registro,qtde_produtos,preco_medio,avaliacao_media,e_aprovado,nome_empresa,id_endereco,delivery_raio_km,delivery_sistema,hora_abertura,hora_fechamento,data_aprovacao,data_reprovacao
0,5f550609cba01d00210ed015,Meus Bolos,2020-09-06 00:42:34,0,0,0,False,Mwyhs Umprdss Ltds.,5f550609cba01d00210ed016,20,THIRD_PARTY,05:30,19:00,2021-06-01 16:22:09,2021-08-10 15:40:47
1,5f584189fc58110021464422,Moça Doceria,2020-09-09 01:56:25,0,0,0,False,BUSTLU BRRSIL LTDR.,5f584189fc58110021464423,13,NaN,08:00,18:00,2021-02-16 18:25:45,2021-09-09 13:45:56
2,5f5a8be1ccc6c40021a8185f,Cami's Candy,2020-09-10 00:49:18,0,0,0,True,Csmws Csydy,5f5a8be1ccc6c40021a81860,15,NaN,08:00,19:00,2021-08-16 21:06:05,2021-06-25 17:22:33
3,5f5bc310b8742200213bda1d,Re doces,2020-09-11 01:07:10,0,0,0,True,Rdysts Cury Mwchslsyy,5f5bc310b8742200213bda1e,15,NaN,10:00,17:00,2020-09-30 17:13:38,NaN
4,5f5bd2fcb8742200213bda24,Doceria Luz,2020-09-11 01:07:10,0,0,0,False,Psmdlls Crwstwys Luz 08949458667,5f5bd2fcb8742200213bda25,13,THIRD_PARTY,11:00,17:00,2021-04-26 20:55:50,2021-04-26 20:55:51

In [21]:
df_vendors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 403 entries, 0 to 402
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_fornecedor     403 non-null    object
 1   nome_fornecedor   403 non-null    object
 2   data_registro     403 non-null    object
 3   qtde_produtos     403 non-null    int64
 4   preco_medio       403 non-null    int64
 5   avaliacao_media   403 non-null    int64
 6   e_aprovado        403 non-null    bool
 7   nome_empresa      403 non-null    object
 8   id_endereco       403 non-null    object
 9   delivery_raio_km  403 non-null    int64
 10  delivery_sistema  36 non-null     object
 11  hora_abertura     403 non-null    object
 12  hora_fechamento   403 non-null    object
 13  data_aprovacao    194 non-null    object
 14  data_reprovacao   139 non-null    object
dtypes: bool(1), int64(4), object(10)
memory usage: 44.6+ KB

    - Dropar colunas: 
        delivery_sistema, data_aprovacao, data_reprovacao
    
    * Motivo: 
        Muitos valores NaN, que nao consiguiriamos preencher com algum parametro estatistico e caso tirassemos os NaN(dropna) perderiamos muitos dados das outras colunas.
            
    - Perca de "0.0"% dos dados

In [22]:
df_vendors.drop(columns=['delivery_sistema', 'data_aprovacao', 'data_reprovacao'], inplace=True)

In [23]:
df_vendors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 403 entries, 0 to 402
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_fornecedor     403 non-null    object
 1   nome_fornecedor   403 non-null    object
 2   data_registro     403 non-null    object
 3   qtde_produtos     403 non-null    int64
 4   preco_medio       403 non-null    int64
 5   avaliacao_media   403 non-null    int64
 6   e_aprovado        403 non-null    bool
 7   nome_empresa      403 non-null    object
 8   id_endereco       403 non-null    object
 9   delivery_raio_km  403 non-null    int64
 10  hora_abertura     403 non-null    object
 11  hora_fechamento   403 non-null    object
dtypes: bool(1), int64(4), object(7)
memory usage: 35.2+ KB

In [24]:
#df_vendors.to_csv('tb_vendors_treatment.csv', index=False)

___

## delivery fees

In [25]:
df_delivery_fees = pd.read_csv('./dataset/tb_vendors_delivery_fees.csv', sep = ';')

In [26]:
df_delivery_fees.head()

,id_fornecedor,valor_fixo,valor_minimo,valor_por_km,valor_cobertura_minima,distancia_maxima,tipo_taxa
0,5f550609cba01d00210ed015,5.0,0.0,0.00,0.0,5,FIXED
1,5f584189fc58110021464422,9.5,0.0,0.00,0.0,4,FIXED
2,5f584189fc58110021464422,0.0,0.0,1.15,0.0,13,PER_KM
3,5f5a8be1ccc6c40021a8185f,0.0,0.0,2.70,0.0,15,PER_KM
4,5f5bc310b8742200213bda1d,5.0,0.0,0.00,0.0,5,FIXED

In [27]:
df_delivery_fees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 461 entries, 0 to 460
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id_fornecedor           461 non-null    object
 1   valor_fixo              451 non-null    float64
 2   valor_minimo            454 non-null    float64
 3   valor_por_km            456 non-null    float64
 4   valor_cobertura_minima  453 non-null    float64
 5   distancia_maxima        461 non-null    int64
 6   tipo_taxa               461 non-null    object
dtypes: float64(4), int64(1), object(2)
memory usage: 25.3+ KB

    - Preencher NaN com Media: 
        qtde_total_compra, gasto_total, ultima_qtde_compra, ticket_medio
    
    * Motivo: 
        Poucos valores NaN, o qual foi preenchido com a media, para utilizar todo o dataset
            
    - Perca de "0.0"% dos dados

In [28]:
df_delivery_fees['valor_fixo'].fillna(df_delivery_fees['valor_fixo'].mean(), inplace=True)
df_delivery_fees['valor_minimo'].fillna(df_delivery_fees['valor_minimo'].mean(), inplace=True)
df_delivery_fees['valor_por_km'].fillna(df_delivery_fees['valor_por_km'].mean(), inplace=True)
df_delivery_fees['valor_cobertura_minima'].fillna(df_delivery_fees['valor_cobertura_minima'].mean(), inplace=True)

In [29]:
df_delivery_fees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 461 entries, 0 to 460
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id_fornecedor           461 non-null    object
 1   valor_fixo              461 non-null    float64
 2   valor_minimo            461 non-null    float64
 3   valor_por_km            461 non-null    float64
 4   valor_cobertura_minima  461 non-null    float64
 5   distancia_maxima        461 non-null    int64
 6   tipo_taxa               461 non-null    object
dtypes: float64(4), int64(1), object(2)
memory usage: 25.3+ KB

___

## coupons

In [30]:
df_coupons = pd.read_csv('./dataset/tb_coupons.csv', sep = ';')

In [31]:
df_coupons.head()

,id_cupons,pode_usar_outros_codigos,limite_custo,data_fim,cupom_codigo,entrega_free,valido_somente_novos_clientes,valor_minimo,data_inicio,status,tipo,quem_paga_cupom,dias_duracao,novos_clientes_adquiridos,qtde_uso,valor_total_uso,percentagem,valor_fixo,limite_uso_por_cpf,limite_uso
0,5f9dd4629edca400210011ca,False,20000.0,2020-11-17 03:00:00,FRIDAY60,True,False,60.0,2020-11-01 03:00:00,INACTIVE,FIXED_DISCOUNT,PLATFORM,-16.0,34.0,40.0,1007.37,NaN,NaN,NaN,NaN
1,5f9dd6d79edca4002100154b,False,NaN,2021-03-24 03:00:00,#TimeQuerido,True,False,NaN,NaN,ACTIVE,PERCENT_DISCOUNT,PLATFORM,NaN,NaN,4.0,121.44,20.0,NaN,NaN,NaN
2,5fa46012903a35002117a6ad,False,6000.0,2020-12-25 03:00:00,FRIDAY2060,True,False,60.0,2020-11-05 03:00:00,INACTIVE,FIXED_DISCOUNT,PLATFORM,-50.0,9.0,12.0,240.00,NaN,20.0,2.0,50.0
3,5fa9ad19ce7202002177907f,False,NaN,2020-12-30 03:00:00,LOOVEM,False,False,70.0,2020-11-09 03:00:00,ACTIVE,PERCENT_DISCOUNT,PLATFORM,-51.0,NaN,NaN,NaN,15.0,NaN,1.0,300.0
4,5fad8b562929b600211a7614,False,2000.0,2021-04-30 03:00:00,#eliana,False,False,NaN,2021-04-19 03:00:00,ACTIVE,PERCENT_DISCOUNT,PLATFORM,-11.0,56.0,83.0,1140.03,15.0,NaN,2.0,NaN

In [32]:
df_coupons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 604 entries, 0 to 603
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id_cupons                      604 non-null    object
 1   pode_usar_outros_codigos       604 non-null    bool
 2   limite_custo                   43 non-null     float64
 3   data_fim                       585 non-null    object
 4   cupom_codigo                   604 non-null    object
 5   entrega_free                   604 non-null    bool
 6   valido_somente_novos_clientes  604 non-null    bool
 7   valor_minimo                   518 non-null    float64
 8   data_inicio                    579 non-null    object
 9   status                         604 non-null    object
 10  tipo                           604 non-null    object
 11  quem_paga_cupom                604 non-null    object
 12  dias_duracao                   569 non-null    float64
 13  novos_clientes_adquiridos      168 non-null    float64
 14  qtde_uso                       223 non-null    float64
 15  valor_total_uso                223 non-null    float64
 16  percentagem                    184 non-null    float64
 17  valor_fixo                     368 non-null    float64
 18  limite_uso_por_cpf             83 non-null     float64
 19  limite_uso                     60 non-null     float64
dtypes: bool(3), float64(10), object(7)
memory usage: 82.1+ KB

    - Dropar NaN:
        data_fim, data_inicio
    
    - Preencher NaN com Media: 
        qtde_uso, valor_minimo
        
    - Preencher NaN com Mediana: 
        limite_uso, valor_fixo, percentagem, valor_total_uso, limite_uso_por_cpf, novos_clientes_adquiridos

    * Motivo: 
        - Os dropna, como era poucos dados, achei melhor retirar apenas os NaN, pois ambas as colunas podem ser importantes
        
        - Preenchimento de NaN com as medias e Mediana, de acordo com o que faria mais sentido(na minha interpretação)

    - Perca de 5.795% dos dados

In [33]:
df_coupons.dropna(subset=['data_fim','data_inicio'], inplace=True)

# media
df_coupons['qtde_uso'].fillna(df_coupons['qtde_uso'].mean(), inplace=True)
df_coupons['valor_minimo'].fillna(df_coupons['valor_minimo'].mean(), inplace=True)

# medianas
df_coupons['limite_uso'].fillna(df_coupons['limite_uso'].median(), inplace=True)
df_coupons['valor_fixo'].fillna(df_coupons['valor_fixo'].median(), inplace=True)
df_coupons['percentagem'].fillna(df_coupons['percentagem'].median(), inplace=True)
df_coupons['valor_total_uso'].fillna(df_coupons['valor_total_uso'].median(), inplace=True)
df_coupons['limite_uso_por_cpf'].fillna(df_coupons['limite_uso_por_cpf'].median(), inplace=True)
df_coupons['novos_clientes_adquiridos'].fillna(round(df_coupons['novos_clientes_adquiridos'].median()), inplace=True)

In [34]:
df_coupons.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 569 entries, 0 to 603
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id_cupons                      569 non-null    object
 1   pode_usar_outros_codigos       569 non-null    bool
 2   limite_custo                   41 non-null     float64
 3   data_fim                       569 non-null    object
 4   cupom_codigo                   569 non-null    object
 5   entrega_free                   569 non-null    bool
 6   valido_somente_novos_clientes  569 non-null    bool
 7   valor_minimo                   569 non-null    float64
 8   data_inicio                    569 non-null    object
 9   status                         569 non-null    object
 10  tipo                           569 non-null    object
 11  quem_paga_cupom                569 non-null    object
 12  dias_duracao                   569 non-null    float64
 13  novos_clientes_adquiridos      569 non-null    float64
 14  qtde_uso                       569 non-null    float64
 15  valor_total_uso                569 non-null    float64
 16  percentagem                    569 non-null    float64
 17  valor_fixo                     569 non-null    float64
 18  limite_uso_por_cpf             569 non-null    float64
 19  limite_uso                     569 non-null    float64
dtypes: bool(3), float64(10), object(7)
memory usage: 81.7+ KB

In [42]:
#df_coupons.to_csv('tb_coupons_treatment.csv', index=False)

___

## customer_payments

In [39]:
df_customer_payments = pd.read_csv('./dataset/tb_customer_payments.csv', sep = ';')

In [40]:
df_customer_payments.head()

,id_ordens,id_pagamentos_cliente,id_cliente,data_pagamento,valor,status_pagamento,metodo_pagamento
0,5f6a1ff1f309620021ca2822,5f6a273a7ebe070021027a36,5f6a1912f309620021ca2652,2020-09-22 16:32:58,1.10,PAID,CREDIT
1,5f6a2f3d5e18160021760db8,5f6a321a5e18160021760eba,5f6a2e615e18160021760dae,2020-09-22 17:19:22,4.60,PAID,CREDIT
2,5f6a378a5e18160021760f6a,5f6a37fd5e18160021760f76,5f6a37165e18160021760f60,2020-09-22 17:44:29,2.00,PAID,CREDIT
3,5f777fa2333d3e0021f11d20,5f777ffe333d3e0021f11d43,5f6a2e615e18160021760dae,2020-10-02 19:31:10,70.00,PAID,CREDIT
4,5f7dc741f266b40021daedb8,5f7dc7aef266b40021daee11,5f6a37165e18160021760f60,2020-10-07 13:50:38,99.81,PAID,CREDIT

In [41]:
df_customer_payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8295 entries, 0 to 8294
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id_ordens              8295 non-null   object
 1   id_pagamentos_cliente  8295 non-null   object
 2   id_cliente             8295 non-null   object
 3   data_pagamento         8295 non-null   object
 4   valor                  8295 non-null   float64
 5   status_pagamento       8295 non-null   object
 6   metodo_pagamento       8295 non-null   object
dtypes: float64(1), object(6)
memory usage: 453.8+ KB

    * Não necessario fazer um tratamento de dados "Missing"

___

## ordered_products

In [109]:
df_ordered_products = pd.read_csv('./dataset/tb_ordered_products.csv', sep = ';')

In [110]:
df_ordered_products.head()

,id_produto_vendido,id_produto,id_variacao_selecionada,valor_medida,tipo_medida,numero_pessoas_servidas,preco,qtde,anotacao,subtotal,id_ordem
0,5f6a1ff1f309620021ca2821,5f6a1d08f309620021ca269c,5f6a1d08f309620021ca26a1,1,QUANTITY,1.0,1.1,1.0,NaN,1.1,5f6a1ff1f309620021ca2822
1,5f6a30ee5e18160021760e8b,5f6a1d08f309620021ca269c,5f6a1d08f309620021ca26a2,2,QUANTITY,1.0,1.5,2.0,validação em dobro,4.6,5f6a2f3d5e18160021760db8
2,5f6a378a5e18160021760f69,5f6a1d08f309620021ca269c,5f6a1d08f309620021ca26a2,2,QUANTITY,1.0,1.5,1.0,NaN,2.0,5f6a378a5e18160021760f6a
3,5f752e10628fd20021989fe1,5f6b8324455f7d0021af7077,5f6b8324455f7d0021af7079,1,WEIGHT,10.0,60.0,1.0,NaN,60.0,5f752e10628fd20021989fe2
4,5f75c135628fd2002198a19b,5f6b8324455f7d0021af7077,5f6b8324455f7d0021af7079,1,WEIGHT,10.0,60.0,1.0,NaN,60.0,5f75c135628fd2002198a19c

In [111]:
df_ordered_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15908 entries, 0 to 15907
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id_produto_vendido       15908 non-null  object
 1   id_produto               15802 non-null  object
 2   id_variacao_selecionada  15762 non-null  object
 3   valor_medida             15804 non-null  object
 4   tipo_medida              15804 non-null  object
 5   numero_pessoas_servidas  15802 non-null  float64
 6   preco                    15760 non-null  float64
 7   qtde                     15760 non-null  float64
 8   anotacao                 827 non-null    object
 9   subtotal                 15716 non-null  float64
 10  id_ordem                 15716 non-null  object
dtypes: float64(4), object(7)
memory usage: 1.3+ MB

    - Dropar Colunas:
        anotacao
    
    - Dropar NaN:
        id_ordem

    - Preencher NaN com Media: 
        preco, subtotal

    - Preencher NaN com Mediana: 
        qtde, numero_pessoas_servidas

    * Motivo: 
        - Drop coluna desnecessaria
        - Dropna de linhas "missing" da coluna id_ordem, possivelmente necessaria para juntar com uma outra tabela por essa chave
        
    - Perca de 1.207% dos dados

In [112]:
df_ordered_products.drop(columns=['anotacao'], inplace=True)

df_ordered_products.dropna(subset=['id_ordem'], inplace=True)

df_ordered_products['preco'].fillna(df_ordered_products['preco'].mean(), inplace=True)
df_ordered_products['subtotal'].fillna(df_ordered_products['subtotal'].mean(), inplace=True)

df_ordered_products['qtde'].fillna(df_ordered_products['qtde'].median(), inplace=True)
df_ordered_products['numero_pessoas_servidas'].fillna(df_ordered_products['numero_pessoas_servidas'].median(), inplace=True)

In [113]:
df_ordered_products.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15716 entries, 0 to 15907
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id_produto_vendido       15716 non-null  object
 1   id_produto               15716 non-null  object
 2   id_variacao_selecionada  15716 non-null  object
 3   valor_medida             15716 non-null  object
 4   tipo_medida              15716 non-null  object
 5   numero_pessoas_servidas  15716 non-null  float64
 6   preco                    15716 non-null  float64
 7   qtde                     15716 non-null  float64
 8   subtotal                 15716 non-null  float64
 9   id_ordem                 15716 non-null  object
dtypes: float64(4), object(6)
memory usage: 1.3+ MB

In [125]:
#df_ordered_products.to_csv('tb_ordered_products_treatment.csv', index=False)

___

## product_tags

In [120]:
df_product_tags = pd.read_csv('./dataset/tb_product_tags.csv', sep = ';')

In [122]:
df_product_tags.head()

            tag_produtos_id  destacado      texto_display    tipo
0  5f518972a4a5fbed86099752       True      Café da manhã  MOMENT
1  5f5189c0a4a5fbed86099753       True      Café da tarde  MOMENT
2  5f5189e9a4a5fbed86099754       True             Festas  MOMENT
3  5f5189f8a4a5fbed86099755      False  Dia dos Namorados  MOMENT
4  5f518a07a4a5fbed86099756       True          Presentes  MOMENT

In [123]:
df_product_tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109 entries, 0 to 108
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tag_produtos_id  109 non-null    object
 1   destacado        109 non-null    bool
 2   texto_display    109 non-null    object
 3   tipo             109 non-null    object
dtypes: bool(1), object(3)
memory usage: 2.8+ KB

        * Não necessario fazer um tratamento de dados "Missing"

___

## ratings

In [126]:
df_product_tags = pd.read_csv('./dataset/tb_product_tags.csv', sep = ';')

In [127]:
df_product_tags.head()

            tag_produtos_id  destacado      texto_display    tipo
0  5f518972a4a5fbed86099752       True      Café da manhã  MOMENT
1  5f5189c0a4a5fbed86099753       True      Café da tarde  MOMENT
2  5f5189e9a4a5fbed86099754       True             Festas  MOMENT
3  5f5189f8a4a5fbed86099755      False  Dia dos Namorados  MOMENT
4  5f518a07a4a5fbed86099756       True          Presentes  MOMENT

In [128]:
df_product_tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109 entries, 0 to 108
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tag_produtos_id  109 non-null    object
 1   destacado        109 non-null    bool
 2   texto_display    109 non-null    object
 3   tipo             109 non-null    object
dtypes: bool(1), object(3)
memory usage: 2.8+ KB

        * Não necessario fazer um tratamento de dados "Missing"

___

## vendor_payments

In [132]:
df_vendor_payments = pd.read_csv('./dataset/tb_vendor_payments.csv', sep = ';')

In [134]:
df_vendor_payments.head()

,id_pagamento_fornecedor,id_ordem,id_fornecedor,status
0,5f6a27377ebe070021027a35,5f6a1ff1f309620021ca2822,5f550609cba01d00210ed015,PENDING
1,5f6a32185e18160021760eb9,5f6a2f3d5e18160021760db8,5f550609cba01d00210ed015,PENDING
2,5f6a37fa5e18160021760f75,5f6a378a5e18160021760f6a,5f550609cba01d00210ed015,PENDING
3,5f777ffb333d3e0021f11d42,5f777fa2333d3e0021f11d20,5f5bc310b8742200213bda1d,PENDING
4,5f7dc7acf266b40021daee10,5f7dc741f266b40021daedb8,5f584189fc58110021464422,PENDING

In [135]:
df_vendor_payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8295 entries, 0 to 8294
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id_pagamento_fornecedor  8295 non-null   object
 1   id_ordem                 8295 non-null   object
 2   id_fornecedor            8295 non-null   object
 3   status                   8295 non-null   object
dtypes: object(4)
memory usage: 259.3+ KB

        * Não necessario fazer um tratamento de dados "Missing"

___

## products

In [154]:
df_products = pd.read_csv('./dataset/tb_products.csv', sep = ';')

In [155]:
df_products.head()

,id_produto,id_fornecedor,id_disconto,id_tipo,nome,ativo,aprovado,arquivado,entregavel,recuperavel,tempo_preparacao_minutos,avaliacao_media
0,5f550676cba01d00210ed018,5f550609cba01d00210ed015,NaN,5f518a26a4a5fbed86099757,Bolo de cenoura teste,True,False,False,True,False,1980.0,0.0
1,5f5ea709a4944c00215bc67f,5f550609cba01d00210ed015,5fb3af31d09539002159d15a,5f518a26a4a5fbed86099757,Bolo de cenoura e chocolate,True,False,False,True,True,0.0,0.0
2,5f60221d70be91002137eb61,5f601c9d70be91002137eb5c,NaN,5f518a26a4a5fbed86099757,Bolo de leite ninho com morangos,False,False,True,True,True,1569.0,0.0
3,5f60245670be91002137eb77,5f601c9d70be91002137eb5c,NaN,5f518a26a4a5fbed86099757,Bolo de limão,False,False,True,True,True,1501.0,0.0
4,5f6025d170be91002137eb83,5f601c9d70be91002137eb5c,NaN,5f518a26a4a5fbed86099757,Bolo de cenoura,False,False,True,True,True,1467.0,0.0

In [156]:
df_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3177 entries, 0 to 3176
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id_produto                3177 non-null   object
 1   id_fornecedor             3177 non-null   object
 2   id_disconto               289 non-null    object
 3   id_tipo                   3176 non-null   object
 4   nome                      3177 non-null   object
 5   ativo                     3170 non-null   object
 6   aprovado                  3177 non-null   bool
 7   arquivado                 3176 non-null   object
 8   entregavel                3177 non-null   bool
 9   recuperavel               3177 non-null   bool
 10  tempo_preparacao_minutos  3171 non-null   float64
 11  avaliacao_media           3116 non-null   float64
dtypes: bool(3), float64(2), object(7)
memory usage: 232.8+ KB

    - Dropar Colunas:
        id_disconto

    - Dropar NaN:
        Todas colunas com valores missing

    - Preencher NaN com Media: 
        tempo_preparacao_minutos

    - Preencher NaN com Mediana: 
        avaliacao_media

    * Motivo: 
        - Drop coluna desnecessaria
        - Dropna de linhas "missing" de todas linhas após os tratamentos
        - Preenchido com a media o tempo_preparacao_minutos por ser um valor "proximo" da mediana
        - Preenchido com a mediana a avaliacao_media por ter muitos valores "0.0", sendo avaliação ou pessoas que não avaliaram

    - Perca de 0.22% dos dados

In [157]:
df_products['tempo_preparacao_minutos'].fillna(df_products['tempo_preparacao_minutos'].mean(), inplace=True)

df_products['avaliacao_media'].fillna(df_products['avaliacao_media'].median(), inplace=True)

df_products.drop(columns=['id_disconto'], inplace=True)
df_products.dropna(inplace=True)

In [158]:
df_products.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3170 entries, 0 to 3176
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id_produto                3170 non-null   object
 1   id_fornecedor             3170 non-null   object
 2   id_tipo                   3170 non-null   object
 3   nome                      3170 non-null   object
 4   ativo                     3170 non-null   object
 5   aprovado                  3170 non-null   bool
 6   arquivado                 3170 non-null   object
 7   entregavel                3170 non-null   bool
 8   recuperavel               3170 non-null   bool
 9   tempo_preparacao_minutos  3170 non-null   float64
 10  avaliacao_media           3170 non-null   float64
dtypes: bool(3), float64(2), object(6)
memory usage: 232.2+ KB

In [159]:
df_products.describe()

       tempo_preparacao_minutos  avaliacao_media
count               3170.000000      3170.000000
mean                1874.960883         0.340656
std                 2416.043956         1.250337
min                    0.000000         0.000000
25%                    0.000000         0.000000
50%                 1589.000000         0.000000
75%                 2418.000000         0.000000
max                14400.000000         5.000000

In [161]:
#df_products.to_csv('tb_products_treatment.csv', index=False)

___

## solds_cognatis

In [163]:
df_cognatis = pd.read_csv('./dataset/tb_solds_cognatis.csv', sep=';')

In [165]:
df_cognatis.head()

,SETOR_ATIV,UF,MUNICIPIO,CEP,TRABALHADORES,S_RENDA_MEDIA,S_FLUXO_PEDESTRE,S_FLUXO_VEICULOS,S_POP_TOTAL,S_DOM_PART_PERM,...,S_DE_50_99_FUNC,S_DE_100_249_FUNC,S_DE_250_499_FUNC,S_DE_500_999_FUNC,S_MAIS1000_FUNC,S_SUPERMERCADO,S_TT_PADARIA,S_ATACADO,S_HIPERMERCADO,S_MINIMERCADO
0,NaN,NaN,NaN,NaN,18776.596364,1852.325903,3.158788,4.933333,61660.275152,22297.529697,...,22.883636,12.442424,4.026667,2.001212,1.670303,8.768485,57.606061,23.126061,2.865455,85.970909
1,NaN,AC,Rio Branco,69900001.0,13125.000000,3502.669922,4.000000,6.000000,53376.000000,17146.000000,...,15.000000,15.000000,3.000000,4.000000,2.000000,3.000000,22.000000,3.000000,9.000000,184.000000
2,NaN,AC,Rio Branco,69900001.0,18364.000000,2477.159912,4.000000,6.000000,73460.000000,24698.000000,...,19.000000,19.000000,6.000000,2.000000,2.000000,14.000000,29.000000,27.000000,9.000000,111.000000
3,NaN,AC,Sena Madureira,NaN,960.000000,1225.869995,0.000000,0.000000,26675.500000,7823.500000,...,1.000000,0.000000,0.000000,0.500000,0.000000,3.000000,7.500000,5.000000,1.000000,84.000000
4,NaN,AC,Senador Guiomard,NaN,1102.000000,1272.079956,0.000000,1.000000,11183.000000,3732.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,10.000000,0.000000,0.000000,42.000000

    - Dropar NaN:
        MUNICIPIO

    * Motivo: 
        - Dropna de apenas uma linha vazia do municipio, os restante dos dados missing acredito que não influencia na nossa tomada de decisao

    - Perca de "0.00"% dos dados

In [166]:
df_cognatis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82391 entries, 0 to 82390
Data columns (total 50 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   SETOR_ATIV                 77558 non-null  object
 1   UF                         82390 non-null  object
 2   MUNICIPIO                  82390 non-null  object
 3   CEP                        80352 non-null  float64
 4   TRABALHADORES              82391 non-null  float64
 5   S_RENDA_MEDIA              82391 non-null  float64
 6   S_FLUXO_PEDESTRE           82391 non-null  float64
 7   S_FLUXO_VEICULOS           82391 non-null  float64
 8   S_POP_TOTAL                82391 non-null  float64
 9   S_DOM_PART_PERM            82391 non-null  float64
 10  S_PCT_CRIANCAS             82391 non-null  float64
 11  S_PCT_ADOLESCENTE          82391 non-null  float64
 12  S_PCT_JOVENS               82391 non-null  float64
 13  S_PCT_ADULTOS              82391 non-null  float64
 14  S_PCT_SENIOR               82391 non-null  float64
 15  S_PCT_IDOSOS               82391 non-null  float64
 16  S_RENDA_MEDIA_FAMILIAR     82391 non-null  float64
 17  S_DENSIDADE_POPULACAO_KM2  82391 non-null  float64
 18  S_PCT_CLASSE_A             82391 non-null  float64
 19  S_PCT_CLASSE_B             82391 non-null  float64
 20  S_PCT_CLASSE_C             82391 non-null  float64
 21  S_PCT_CLASSE_D             82391 non-null  float64
 22  S_PCT_CLASSE_E             82391 non-null  float64
 23  S_TX_CRESC_POP             82391 non-null  float64
 24  S_TX_CRESC_DOM             82391 non-null  float64
 25  S_TX_CRESC_RENDA_MEDIA     82391 non-null  float64
 26  S_RENDA_PER_CAPITA         82391 non-null  float64
 27  S_COMERCIALIZACAO          82391 non-null  float64
 28  S_QTD_EMPRESAS             82391 non-null  float64
 29  S_PCT_CNAE_AGRICOLA        82391 non-null  float64
 30  S_PCT_CNAE_COMERCIO        82391 non-null  float64
 31  S_PCT_CNAE_CONSTR_CIVIL    82391 non-null  float64
 32  S_PCT_CNAE_INDUSTRIA       82391 non-null  float64
 33  S_PCT_CNAE_SERVICOS        82391 non-null  float64
 34  S_PCT_CNAE_OUTROS          82391 non-null  float64
 35  S_SEM_FUNC                 82391 non-null  float64
 36  S_DE_1_4_FUNC              82391 non-null  float64
 37  S_DE_5_9_FUNC              82391 non-null  float64
 38  S_DE_10_19_FUNC            82391 non-null  float64
 39  S_DE_20_49_FUNC            82391 non-null  float64
 40  S_DE_50_99_FUNC            82391 non-null  float64
 41  S_DE_100_249_FUNC          82391 non-null  float64
 42  S_DE_250_499_FUNC          82391 non-null  float64
 43  S_DE_500_999_FUNC          82391 non-null  float64
 44  S_MAIS1000_FUNC            82391 non-null  float64
 45  S_SUPERMERCADO             82391 non-null  float64
 46  S_TT_PADARIA               82391 non-null  float64
 47  S_ATACADO                  82391 non-null  float64
 48  S_HIPERMERCADO             82391 non-null  float64
 49  S_MINIMERCADO              82391 non-null  float64
dtypes: float64(47), object(3)
memory usage: 31.4+ MB

In [171]:
df_cognatis.dropna(subset=['MUNICIPIO'], inplace=True)

In [172]:
df_cognatis.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82390 entries, 1 to 82390
Data columns (total 50 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   SETOR_ATIV                 77558 non-null  object
 1   UF                         82390 non-null  object
 2   MUNICIPIO                  82390 non-null  object
 3   CEP                        80352 non-null  float64
 4   TRABALHADORES              82390 non-null  float64
 5   S_RENDA_MEDIA              82390 non-null  float64
 6   S_FLUXO_PEDESTRE           82390 non-null  float64
 7   S_FLUXO_VEICULOS           82390 non-null  float64
 8   S_POP_TOTAL                82390 non-null  float64
 9   S_DOM_PART_PERM            82390 non-null  float64
 10  S_PCT_CRIANCAS             82390 non-null  float64
 11  S_PCT_ADOLESCENTE          82390 non-null  float64
 12  S_PCT_JOVENS               82390 non-null  float64
 13  S_PCT_ADULTOS              82390 non-null  float64
 14  S_PCT_SENIOR               82390 non-null  float64
 15  S_PCT_IDOSOS               82390 non-null  float64
 16  S_RENDA_MEDIA_FAMILIAR     82390 non-null  float64
 17  S_DENSIDADE_POPULACAO_KM2  82390 non-null  float64
 18  S_PCT_CLASSE_A             82390 non-null  float64
 19  S_PCT_CLASSE_B             82390 non-null  float64
 20  S_PCT_CLASSE_C             82390 non-null  float64
 21  S_PCT_CLASSE_D             82390 non-null  float64
 22  S_PCT_CLASSE_E             82390 non-null  float64
 23  S_TX_CRESC_POP             82390 non-null  float64
 24  S_TX_CRESC_DOM             82390 non-null  float64
 25  S_TX_CRESC_RENDA_MEDIA     82390 non-null  float64
 26  S_RENDA_PER_CAPITA         82390 non-null  float64
 27  S_COMERCIALIZACAO          82390 non-null  float64
 28  S_QTD_EMPRESAS             82390 non-null  float64
 29  S_PCT_CNAE_AGRICOLA        82390 non-null  float64
 30  S_PCT_CNAE_COMERCIO        82390 non-null  float64
 31  S_PCT_CNAE_CONSTR_CIVIL    82390 non-null  float64
 32  S_PCT_CNAE_INDUSTRIA       82390 non-null  float64
 33  S_PCT_CNAE_SERVICOS        82390 non-null  float64
 34  S_PCT_CNAE_OUTROS          82390 non-null  float64
 35  S_SEM_FUNC                 82390 non-null  float64
 36  S_DE_1_4_FUNC              82390 non-null  float64
 37  S_DE_5_9_FUNC              82390 non-null  float64
 38  S_DE_10_19_FUNC            82390 non-null  float64
 39  S_DE_20_49_FUNC            82390 non-null  float64
 40  S_DE_50_99_FUNC            82390 non-null  float64
 41  S_DE_100_249_FUNC          82390 non-null  float64
 42  S_DE_250_499_FUNC          82390 non-null  float64
 43  S_DE_500_999_FUNC          82390 non-null  float64
 44  S_MAIS1000_FUNC            82390 non-null  float64
 45  S_SUPERMERCADO             82390 non-null  float64
 46  S_TT_PADARIA               82390 non-null  float64
 47  S_ATACADO                  82390 non-null  float64
 48  S_HIPERMERCADO             82390 non-null  float64
 49  S_MINIMERCADO              82390 non-null  float64
dtypes: float64(47), object(3)
memory usage: 32.1+ MB

In [175]:
#df_cognatis.to_csv('tb_solds_cognatis_treatment.csv', index=False)